@font-face {
	font-family: pfdLight;
	src: url('fonts/PFDinTextCondPro-Light.eot');
	src: local('☺'), url('fonts/PFDinTextCondPro-Light.woff') format('woff'), url('fonts/PFDinTextCondPro-Light.ttf') format('truetype');
}

@font-face
{
	font-family: pfdMedium;
	src: url('fonts/PFDinTextCondPro-Medium.eot');
	src: local('☺'), url('fonts/PFDinTextCondPro-Medium.woff') format('woff'), url('fonts/PFDinTextCondPro-Medium.ttf') format('truetype');
}

@font-face
{
	font-family: pfdRegular;
	src: url('fonts/PFDinTextCondPro-Regular.eot');
	src: local('☺'), url('fonts/PFDinTextCondPro-Regular.woff') format('woff'), url('fonts/PFDinTextCondPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('fonts/arial-narrow.eot');
    src: url('fonts/arial-narrow.eot?#iefix') format('embedded-opentype'),
         url('fonts/arial-narrow.woff') format('woff'),
         url('fonts/arial-narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, p, em, a, img, ul, ol, li, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
ul, li { list-style: none;}
ol li { list-style-type: decimal;}
a { color: #555; }
a:hover { color: #407505; text-decoration: none; border: none; }
select, input, textarea{margin: 0; padding: 0; outline: none;}
/* TYPOGRAPHY
------------------------------------------------------------ */
body {
	font-family: pfdLight, Arial, Helvetica, sans-serif;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-stretch: condensed;
	font-size: 14px;
	line-height: 18px;
	color: #555555;
}
/* headers */
h1, h2 ,h3, h4, h5 {
	font-weight: normal;
	color: #2f5604;
	margin-top: 0;
}
h1 {
	line-height: 28px;
}
h2 {
	line-height: 24px;
}
h3 {
	font-size: 18px;
	line-height: 20px;
}
h4 {
	font-size: 18px;
	line-height: 20px;
}
h5 {
	line-height: 24px;
	color: #fff;
}
/* text blocks */
p {
	margin: 8px 0;
	font-size: 14px;
	text-align: justify; 
}

em {
	display: block;
	padding: 25px 20px 30px;
	color: #2f5604;
	font-style: normal;
	background-image: url("images/benefits_bg.jpg");
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #ccc;
}

.w-clear {
	height:auto;
}

.w-clear:after {
	clear:both;
	display:block;
	visibility:hidden;
	height:0;
	content:'.';
	line-height:0;
	font-size:0;
}

.hidden {
	display: none;
}

address.footer-address {
	font-style: normal;
	line-height: 20px;
	margin-bottom: 6px;
	font-size: 14px;
}

.footer-address a {
	color: inherit;
}

/* FORM ELEMENTS
------------------------------------------------------------ */
input[type="button"],
input[type="submit"] {
	display: inline-block;
	font-family:'Arial Narrow', Arial, sans-serif;
	font-stretch: condensed;
	font-size: 16px;
	line-height: 18px;
	height: 30px;
	color: #fff;
	padding: 4px 8px;
	margin: 0;
	border: 0;
	background: none;
	background-image: url("images/controls_bg.jpg");
	background-position: left top;
	background-repeat: repeat-x;
	cursor: pointer;
}
input[type="button"]:hover,
input[type="submit"]:hover {
	background-position: left bottom;
}
input[type="text"], textarea {
	font-size: 16px;
	padding: 0 4px;
	font-family: inherit;
}
input[type="text"].active,
textarea.active {
	color: #222;
}

input[disabled="disabled"],
input[disabled="disabled"]:hover {
	background: #ddd;
	cursor: auto;
}

/* BASIC LAYOUT
------------------------------------------------------------ */
.alignment {
	width: 890px;
	padding: 0 40px 0;
	margin: 0 auto;
	
	background-image: url("images/map.jpg");
	background-position: center 5px;
	background-repeat: no-repeat;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
#sidebar {
	width: 240px;
	float: left;
    margin-right: 10px;
	margin-bottom: 12px;
}
#content.inner_page  {
	width: 640px;
	float: right;
	margin-bottom: 12px;
}


/* HEADER
------------------------------------------------------------ */
#header {
	height: 241px;
	position: relative;
	margin: 0 0 15px;
	padding-top: 15px;
	background-image: url("images/header_background.png");
	background-position: 225px top;
	background-repeat: no-repeat;
}
#header ul {
	list-style: none;
}

#phone_block {
	width: 354px;
	float: right;
	text-align: right;
	font-size: 27px;
	color: #555555;
	line-height: 35px;
	margin-top: 41px;
	font-family: pfdLight, Arial, Helvetica, sans-serif;
}

#header .presentation {
	border: 1px dotted;
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
	-moz-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
	box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
}

	#header .presentation a {
		padding: 10px;
	}

.as-button {
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
	display: inline-block;
	padding: 3px 7px;
	background-image  : url(/bitrix/templates/siberia.trans.1.0/images/controls_bg.jpg);
	-webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
	-moz-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
	box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
	/*color: #fff !important;*/
	color: #fff;
	margin-bottom: 10px;
	cursor: pointer;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border: none;
	outline: none;
}

.header-call.as-button {
	color: #fff;
}

.as-button.white {
	background: #fff;
	border: 1px solid rgb(76, 122, 52);
	color: #555;
}

.as-button.white:hover {
	background: #eee;
}

.as-button:hover {
	background-position: bottom left;
}

/* logo */
#logo {
	float: left;
}
#logo img {
	display: block;
}
/* phone block */

#phone_block .extra-number {
	float: left;
	width: 50%;
	text-align: left;
}

#phone_block .main-number {
	float: left;
	background: url(/bitrix/templates/siberia.trans.1.0/images/menu-separator.png) no-repeat 0px 6px;
	width: 50%;
}

#phone_block .text {
	color: #407505;
	font-size: 14px;
	line-height: 9px;
	font-stretch: condensed;
}

#header .call-button {
	width: 113px;
	height: 29px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 130px;
	background: url('/bitrix/templates/siberia.trans.1.0/images/callme-div2.png') 3px 0px;
	
}

#header .call-button object {
	opacity: 0;
}

.call-buttons {
	position: absolute;
	top: 18px;
	right: 0px;
}

#phone_block a:hover {
	color: #407505;
	border-color: #407505;
	/*border: none;*/
}

/* navigation */
#header .navigation {
	font-size: 19px;
	position: absolute;
	right: 0px;
    bottom: 0;
	cursor: default;
	font-family:'pfdLight';
}

#header .navigation li {
	*display: inline-block;
	float: left;
	background: url("images/menu-separator.png") no-repeat 0 5px;
	margin-right: 1px;
}

#header .navigation li:first-child,
#header .navigation li:hover {
	background: none;

}

#header .navigation a {
	display: block;
	color: #407505;
	margin: 0 8px;
	padding: 6px 0;
	text-decoration: none;
}


#header .navigation a:hover {
	color: #fff;

	display: block;
	margin: 0;
	padding: 6px 8px;
	
	background-image: url("images/controls_bg.png");
	background-position: left bottom;
	background-repeat: repeat-x;
	
	-webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
    -moz-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
    box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
}



#header .navigation li.current a {
	
	color: #fff;
	text-decoration: none;
	
	margin: 0;
	padding: 6px 8px;
	
	background-image: url("images/controls_bg.png");
	background-position: left bottom;
	background-repeat: repeat-x;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
    -moz-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
    box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
}

#header .navigation li span {
	color: red;
}

#header .navigation li:hover span ,
#header .navigation li.current span {
	color: rgb(245, 255, 102);
}
/* SIDEBAR
------------------------------------------------------------ */
#sidebar > ul {
	margin-bottom: 40px;
}
#sidebar ul{
	list-style: none;
}
h2, h3 {
	margin: 0 0 20px;
	
}
#sidebar .navigation {
	width: 200px;
	font-size: 16px;
	cursor: default;
}

#sidebar .side-navigation {
	background: #f0f0f0;
	border: 1px solid #ccc;
}

#sidebar .side-navigation li a {
	text-decoration: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	color: #407505;
	display: block;
	padding: 5px 20px 10px 10px;
	font-size: 18px;
}

#sidebar .side-navigation li a:hover {
	color: #111;
}
#sidebar .navigation .current a,
#sidebar .navigation .current a:hover {
	background: #69a423; /* Old browsers */
	background: -moz-linear-gradient(top, #69a423 0%, #427806 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69a423), color-stop(100%,#427806)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #69a423 0%,#427806 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #69a423 0%,#427806 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #69a423 0%,#427806 100%); /* IE10+ */
	background: linear-gradient(to bottom, #69a423 0%,#427806 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69a423', endColorstr='#427806',GradientType=0 ); /* IE6-9 */
	color: #fff;
}

.slimScrollDiv {
	border-bottom: 1px solid #ccc;
}

/*
#sidebar .navigation .current a {
	color: #fff;
	text-decoration: none;	
	display: inline-block;
	padding: 4px 8px;
	margin: 0;
	border-bottom:0 none;
	background-image: url("images/regions_active.jpg");
	background-position: left bottom;
	background-repeat: repeat-x;

}*/

/* CONTACTS -> REGION OPTIONS */
#regions {
	font-size: 18px;
	background-image: url(/bitrix/templates/siberia.trans.1.0/images/video_block_bg.jpg);
	background-position: left bottom;
	background-repeat: repeat-x;
	background-color: #fcfcfc;
	margin-bottom: 15px;
	text-align: justify;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	width: 100%;
}
.menuSideSelector li {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.menuSideSelector a {
	padding: 15px 20px 15px !important;
	margin: 1px;
	
}
.menuSideSelector li a span {
	text-align: left !important;
}
#regions .agency {
	text-align: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#regions a {
	color: inherit;
	display: block;
	text-decoration: none;
	font-size: 14px;
	border: none;
	padding-top: 5px;
	padding-bottom: 6px;
}

#regions .title {
	font-size: 18px;
	color: #407505;
	display: block;
	text-transform: uppercase;
}

#regions .helper {
	width: 100%;
	height: 0;
	visibility: hidden;
}

#regions a:hover .title{
	color: #111;
}

#regions a.active {
	color: #fff;
	background-image: url("images/regions_active.jpg");
	background-color: #427806;
	background-repeat: repeat-x;
}

#regions a.active .title {
	color: #fff;
}

/* PRICES */
.inner_page.prices ul {
	margin: 0;
}

#prices {
	width: 217px;
	font-size: 18px;
	border: 1px solid #ccc;
	border-bottom: 0;
	background-image: url("images/video_block_bg.jpg");
	background-position: left bottom;
	background-repeat: repeat-x;
}

#prices li {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
}
#prices a{
	color: inherit;
	display: block;
	height: 33px;
	padding: 15px 20px 0;
	margin: 0 1px 1px;
	text-decoration: none;
	font-size: 16px;
	border: none;
}
#prices .title {
	font-size: 18px;
	color: #407505;
	
	display: block;
	text-transform: uppercase;
}
#prices a:hover .title{
	color: #111;
}
#prices a.active {

	color: #fff;
	background: #69a423; /* Old browsers */
	background: -moz-linear-gradient(top, #69a423 0%, #427806 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69a423), color-stop(100%,#427806)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #69a423 0%,#427806 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #69a423 0%,#427806 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #69a423 0%,#427806 100%); /* IE10+ */
	background: linear-gradient(to bottom, #69a423 0%,#427806 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69a423', endColorstr='#427806',GradientType=0 ); /* IE6-9 */
}
#prices a.active .title {
	color: #fff;
}
.meet {
	text-align: center;
}
/* MANAGER */
.manager {
	display: none;
	padding: 20px 8px 16px 20px;
	border: 1px solid #ccc;
	background-image: url('/bitrix/templates/siberia.trans.1.0/images/video_block_bg.jpg');
	background-position: left bottom;
	background-repeat: repeat-x;
}

.manager.current {
	display: block;
	height: 187px;
}

.manager img {
	border: 1px solid #555;
}

.manager li {
	margin-bottom: 4px;
}

.manager .name {
	font-size: 18px;
	color: #407505;
	line-height:24px;
}

.manager-detail {
	margin-left: 10px;
	float: left;
}

/* CLOUD / FAQ */
#cloud,
#faq {
	width: 187px;
	position: relative;
	padding: 15px 15px 100px;
	font-size: 14px;
	border: 1px solid #ccc;
	background-image: url("images/benefits_bg.jpg");
	background-position: left top;
	background-repeat: repeat-x;
}
#cloud .image {
	position: absolute;
	bottom: -25px;
	right: 15px;
	width: 125px;
	height: 90px;
	background-image: url("images/cloud.png");
	background-position: left top;
	background-repeat: no-repeat;
}
#faq .image {
	position: absolute;
	bottom: -30px;
	right: 15px;
	
	width: 106px;
	height: 113px;
	
	background-image: url("images/faq.png");
	background-position: left top;
	background-repeat: no-repeat;
}
#faq li {
	margin-bottom: 8px;
}
#faq li a { border-bottom-style:dotted; }
#all_questions {
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-size: 14px;
	color: #407505;
}
#all_questions:hover {
	bottom: 16px;
}


/* FOOTER
------------------------------------------------------------ */
#footer {
	padding: 15px 20px 10px;
	background-color: #444444;
	color: #fff;
	font-size: 14px;
}
#footer .side_info {
	float: right;
	width: 565px;
}
#copyrights a {
	color: inherit;
}
#footer .phone_number {
	font-size: 21px;
	line-height: 25px;
	margin-bottom: 5px;
}

/* footer navigation */
#footer .navigation {
	margin-bottom: 10px;
	cursor: default;
	font-size: 15px;
	line-height: 23px;
}

#footer .navigation a {
	color: #fff;
}
#footer .navigation a:hover {
	color: #7bb744;
}

.footer-social-buttons img {
	width: 30px;
	height: 30px;
	opacity: 0.5;
	margin-right: 8px;
}

.footer-social-buttons img:hover {
	opacity: 1;
}
/* disclaimer */
.disclaimer {
	margin: 0px;
	font-family: arial;
	line-height: 20px;
	font-size: 13px;
}
.disclaimer  a {
	color: #fff;
}
.disclaimer a:hover {
	color: #7bb744;
}

/* shadow */
.box-shadow {
	-webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
	-moz-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
	box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
}
/* /shadow */

/* body content */

#content ol {
    list-style-position: inside;
    margin: 18px 20px;
    counter-reset:li; /* Инициализируем счетчик */
    padding:0; /* Удаляем  установленное по умолчанию левое поле*/
    list-style:none; /* Отменяем нумерацию установленную по умолчанию */
}

#content ol li {
	position: relative;
	margin: 0 0 6px 2em;
	padding: 2px 0px 5px 7px;
	border-top: 2px solid #407505;
}

#content ol li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	top: -2px;
	left: -23px;
	width: 20px;
	padding: 2px;
	color: #fff;
	background: #407505;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, sans-serif;
	text-align: center;
	border-top: 2px solid #407505;
}
/* /body content  */

/* BREADCRUMBS
------------------------------------------------------------ */
#breadcrumbs {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	background-image: url("images/call_order_bg.jpg");
	background-position: left bottom;
	background-repeat: repeat-x;
}

#breadcrumbs a {
	
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}

#breadcrumbs a:hover {
	border: none;
}

/* CONTACTS BLOCK
------------------------------------------------------------ */
#contacts_block-contact {
	float: right;
	padding: 13px 14px 10px;
	border: 1px solid #cccccc;
	background-image: url('/bitrix/templates/siberia.trans.1.0/images/benefits_bg.png');
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #efefef;
	height: 200px;
}

#contacts_block {
	padding: 21px 20px 22px;
	border: 1px solid #cccccc;
	background-image: url('/bitrix/templates/siberia.trans.1.0/images/benefits_bg.png');
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #efefef;
	margin-bottom: 25px;
}

.footer-feedback-form {
	float: left;
	width: 330px;
}


#contacts_block ul {
	list-style: none;
	margin-left: 197px;
}

#contacts_block h3, .contacts-bottomBlock h3 {
	font-size: 24px;
	line-height: 27px;
}

.contacts-bottomBlock h3 {
	text-align: center;
}

#contacts_block img {
	display: block;
	float: left;
	margin-right: 25px;
	border: 1px solid #555555;
}

#contacts_block .contact {
	float: right;
	width: 500px;
	color: #555;
}

#contacts_block .contact a {
	color: #555;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

#contacts_block .contact a:hover {
	color: #407505;
	border: none;
}

#contacts_block li,
#managers li {
	font-size: 17px;
	margin: 5px 0;
}

#contacts_block .name {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 10px;
	line-height:30px;
}

#contacts_block .phone, #managers .phone,
#contacts_block .mail, #managers .mail,
#contacts_block .skype, #managers .skype,
#contacts_block .mobile, #managers .mobile {
	display: inline-block;
	height: 26px;
	vertical-align: middle;
	padding-left: 36px;
	background-image: url("images/contacts.png");
	background-repeat: no-repeat;
}

#contacts_block .phone,
#managers .phone {
	background-position: 0 0;
}

#contacts_block .mail,
#managers .mail{
	background-position: 0 -30px;
}

#contacts_block .skype,
#managers .skype {
	background-position: 0 -60px;
}

.contacts-detail .mobile,
#managers .mobile {
	background-position: 2px -86px;
}

#contacts_block .image-carousel .carousel-item {
	width: 500px;
	height: 172px;
	float: left;
	overflow: hidden;
}

#managers {
	float: left;
	width: 477px;	
}

.contacts-bottomBlock {
	margin-bottom: 30px;
}

.manager-block .manager-photo {
	float: left;
}

.image-carousel-wrapper {
	position: relative;
}

.image-carousel-wrapper .image-carousel {
	margin-bottom: 20px;
}

.image-carousel-wrapper a.prev,
.image-carousel-wrapper a.next {
	background: url('images/carousel-sprite.png') no-repeat transparent;
	width: 32px;
	height: 26px;
	display: block;
	position: absolute;
	top: 186px;
	border-bottom: none !important;
}
.image-carousel-wrapper a.prev {
	left: 163px;
	background-position: 0 -65px;
}

.image-carousel-wrapper a.prev:hover {
	background-position: 0 -98px;
}

.image-carousel-wrapper a.prev.disabled {
	background-position: 0 -100px !important;
}

.image-carousel-wrapper a.next {
	right: 165px;
	background-position: 0px 0;
}

.image-carousel-wrapper a.next:hover {
	background-position: 0px -33px;
}

.image-carousel-wrapper a.next.disabled {
	background-position: -50px -100px !important;
}

.image-carousel-wrapper a.prev.disabled,
.image-carousel-wrapper a.next.disabled {
	cursor: default;
}

.image-carousel-wrapper a.prev span,
.image-carousel-wrapper a.next span {
	display: none;
}

.image-carousel-wrapper .pagination {
	text-align: center;
}

.image-carousel-wrapper .pagination a {
	background: url(images/carousel-sprite.png) -1px -124px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
	border-bottom: none !important;
}

.image-carousel-wrapper .pagination a.selected {
	background-position: 0px -143px;
	cursor: default;
}

.image-carousel-wrapper .pagination a span {
	display: none;
}

/* /carousel */

/* contact form */
.f-form {
	width: 310px;
}

#contact_form label.error { color:#ff0000; font-size:11px; line-height:14px; }

#contact_form input.error { color:#ff0000; }

#contact_form {
	font-size: 14px;
	color: #555555;
}
#contact_form input[type="text"] {
	display: block;
	width: 298px;
	
}

#contact_form div.inpt {
	margin:0 0 16px;
}

#contact_form input[type="submit"] {
	right: 0;
	bottom: 0;	
	display: block;
}
#contact_form a {
	display: inline-block;
	color: #555555;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}
#contact_form a:hover {
	border-bottom: none;
	padding-bottom: 1px;
}
/* INNER PAGE SPECIFICS
------------------------------------------------------------ */

.article_listing img {
    float: left;
}

.inner_page img {
	margin-right: 15px;
	margin-bottom: 10px;	
	position: relative;
	/*top: 4px;*/
	border: 1px solid #aaa;
	z-index: 1;
}
[align="right"] {
	float: right;
	margin-left: 15px;
	/*margin-right: 15px;*/	
}
[align="left"] {
	float: left;
	margin-right: 15px;	
}
#tab{
	font-style: normal;
	font-size: 15px;
	border-collapse:collapse;
}
#tab td, #tab th{
	font-size:1em;
	padding:3px 5px 2px 5px;
	line-height: normal;
	text-align:center;
	border-color:black;

}
#tab td:hover{
	background-color: #6dc011;
	color: white;

}
#tab tr, #tab td , #tab th{
	padding: 5px 5px 5px 5px;
	text-align:center;
}
#tab td.td0{
	text-align: center;
	background-color: #488307;
	font-size: 16px;
	color: #FFF;
}
#tab td.td1{
	background-color:#74be1b;
	text-align:center;
	color:#FFF;
	width: 114px;
}
#tab td.td2{
	background-color:#74be1b;
	text-align:center;
	color:#FFF;
	
}
#tab td.td3{
	background-color:#74be1b;
	text-align:center;
	color:#FFF;
	
}
#tab td {
	border: 1px solid #000;
	/*width: 60px;*/
}
#tab td.space {
	border: none;
	width: 15px;
}
#tab td.space:hover {
	background: none;
}
#tab td.td4{
	background-color:#74be1b;
	text-align:center;
	color:#FFF;
	
}
#tab tr.alt td{
	
	color:#000000;
	background-color:#EAF2D3;
	
}
#tab td img {
	border: none;
}
/*.right {
	float: right;
	margin: 0 0 0 15px;/*
		
}
/* .inner_page .left img {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;	
	position: relative;
	top: 4px;
	
	border: 1px solid #aaa;
}
.inner_page .right img {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;	
	position: relative;
	top: 4px;
	
	border: 1px solid #aaa;
} */
.inner_page a {
	color: #829CD1;
}
.inner_page #logo span {
	display: none;
}
/*.inner_page ul {
	list-style-image: upload/check.png;
}*/
.inner_page_title {
	text-align: left;
	position: absolute;
	margin: 0;
	width: 300px;
	top: 45px;
	left: 250px;
	color: #555;
	line-height: 24px;
}
.inner_page ul {

	margin: 8px 20px;
	font-size: 14px;
}
.inner_page ol {
	margin: 8px 0;
}
.inner_page li {
	position: relative;
	font-size: 14px;
	text-align: justify;	
}
.inner_page ol  li {
	margin-left: 16px;
    /*padding: 8px 0;*/
}
.inner_page ul li:before {
	content: " ✔ ";
	position: relative;
	color: #5c9719;
	/*left: -15px;*/
}

/* ARTICLES LISTING */
#articles_listing .article_listing {
	margin-bottom: 30px;
	font-size: 14px;
	border: 1px solid #ccc;
	background-color: #fff;
}
#articles_listing ul li{
	border: none;	
}
#articles_listing .article_listing:before {
	display: none;	
}

#articles_listing .article_listing ul li {
	text-align: left;
}
#articles_listing h2 {
	margin: 15px 20px 10px 20px;
}
#articles_listing h2 a {
	color: #407505;
}
#articles_listing h2 a:hover {
	color: #222;
}
#articles_listing p {
	margin: 18px 20px;
	line-height: 18px;	
}
.inner_page #articles_listing li img {
	float: left;
	margin-right: 15px;
	/*margin-right: 8px;
	margin-bottom: 8px;*/
}
#articles_listing .tags {
	clear: both;
	padding: 10px 20px;
	border-top: 1px solid #ccc;
	background-image: url("images/call_order_bg.jpg");
	background-position: left center;
	background-repeat: repeat-x;
}
#articles_listing .tags span {
	color: #888;
}
#articles_listing .tags a {
	color: #222;
}
#articles_listing .tags a:hover {
	color: #407505;
}

/* GALERY */
.inner_page .galery {
	padding: 5px 0 10px;
	margin-bottom: 30px;
	text-align: center;
	overflow: hidden;

	border: 1px solid #ccc;
	background-image: url("images/video_block_bg.jpg");
	background-position: left middle;
	background-repeat: repeat-x;
}
.inner_page .galery a {
	display: inline-block;
	margin: 0 6px;
}
.inner_page .galery img {
	display: block;
	margin: 0;
	border: 1px solid #888;
}
.inner_page .galery a:hover img {
	border: 1px solid #111;
}

/* CONTACTS PAGE */
.contacts {
	line-height: 18px;
}
.contacts #contacts_intro {
	margin: 4px 0 46px;
	font-family: pfdRegular, Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.contacts h2 {
	margin: 0px 0 0px 0;
}
.contacts .info {
	margin-bottom: 10px;
}
.contacts .location li {
	font-size: 17px;
	color: #222;
	margin: 4px 0;
	line-height: 22px;
}

.contacts .location li.address {
	height: 44px;
}

.contacts .location a {
	color: #222;
}

.contacts .location li span {
	color: #888;
}

.contacts .marker {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #407505;
	cursor: pointer;
	text-decoration: underline;
}
.contacts .marker:hover {
	text-decoration: none;
}
.contacts .marker span {
	display: inline-block;
	vertical-align: bottom;
	width: 41px;
	height: 45px;
	
	background-image: url("images/map_flag.png");
	background-position: left top;
	background-repeat: no-repeat;
}
.contacts .photo {
	float: right;
	padding: 12px;
	border: 1px solid #cccccc;
	background-image: url(/bitrix/templates/siberia.trans.1.0/images/benefits_bg.png);
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #efefef;
	padding: 12px 12px 10px 12px;
}

.contacts .photo a {
	text-decoration: none;
}

.contacts .large-photo {
	margin-bottom: 12px;
}

.contacts .contactsLeftCol {
	float:left;
	width: 475px;
}

.contacts .photo span {
	margin-right: 15px;
}

.contacts .feedback .inpt {
	position: relative;
}

.contacts .feedback .error {
	border: 1px solid red;
}

.contacts .feedback .ignore {
	border: 1px solid #a9a9a9 !important;
}


.contacts .feedback label {
	position: absolute;
	top: -20px;
	left: 0;
	display: none !important;
}

.contacts .feedback textarea {
	width: 359px;
	height: 81px;
	margin-bottom: 10px;
}

.contacts .feedback h2 {
	margin: 0 0 18px 0;
}

.contacts .feedback input[type="submit"] {
    float: right;
}

.contacts .group-field {
	margin-bottom: 15px;
}

.contacts .clientName {
	width: 357px;
	margin-bottom: 10px;
}

.contacts .fMail,
.contacts .fPhone {
	width: 150px
}

.contacts .fMail {
	margin-right: 10px;
}

.contacts .fPhone {
	margin-left: 10px;
}

#offices {
	margin: 0;
}

#offices > li {
	display: none;
}

#offices li.current {
	display: block;
	margin-bottom: 22px;
}

#offices li:before {
	display: none;
}

/* INDEX PAGE SPECIFICS
------------------------------------------------------------ */
.index_page {
	font-size: 16px;
}
.index_page ul {
	list-style: none;
}
.index_page em {
	margin-bottom: 50px;
}

/* VIDEO BLOCK */
#video {
	padding: 19px 0;
	border: 1px solid #cccccc;
	margin-bottom: 40px;
	margin-top:	20px;
	background-image: url("images/video_block_bg.jpg");
	background-repeat: repeat-x;
	background-position: left bottom;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
    -moz-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
    box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
}
#video_dummy {
	margin: 0 auto;
	width: 860px;
	height: 488px;
	background-image: url("images/video_dummy.jpg");
	cursor: pointer;
}

/* SERVICES */
#services {
	margin: 30px 0 20px;
}
#services ul {
	width: 990px;
	position: relative;
	left: -1px;
}
#services li {
	float: left;
	width: 158px;
	margin-right: 25px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
    -moz-box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
    box-shadow: 1px 2px 5px 0px rgba(50, 50, 51, 0.41);
}
#services .ico {
	display: block;
	height: 96px;
	background-image: url("images/services.jpg");
	background-repeat: no-repeat;
}

/* services icons */
/*.i-2 .ico {
	background-position: center 0;
}
.i-3 .ico {
	background-position: center -96px;
}
.i-5 .ico {
	background-position: center -192px;
}
.i-1 .ico {
	background-position: center -288px;
}
.i-4 .ico {
	background-position: center -384px;
}*/

/* services icons */
.i-1 .ico {
	background-position: center 0;
}
.i-2 .ico {
	background-position: center -96px;
}
.i-3 .ico {
	background-position: center -384px;
}
.i-4 .ico {
	background-position: center -288px;
}
.i-5 .ico {
	background-position: center -192px;
}

#services a {
	display: block;
	border: 1px solid #ccc;
	border-bottom: 0;
	color: #fff;
}

#services .desc {
	display: table-cell;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	width: 158px;
	font-size: 15px;
	text-align: center;
	background-image: url("images/service_bg.png");
	background-repeat: repeat-x;
	background-position: left top;
}

#services .description {
	display: none;
}

#services a:hover {
	border: 1px solid #408aaa;
	border-bottom: 0;
	background-position: left bottom;
}

#services a:hover .desc{
	background-position: left bottom;
}

#services a span {
	display: inline-block;
	line-height: 14px;
	vertical-align: middle;
}

#services_description {
	display: block;
	padding: 20px 20px;
	font-size: 19px;
	line-height: 26px;
}

#services_description span {
}


/* BENEFITS */
#benefits {
	border: 1px solid #cccccc;
	
	background-image: url("images/benefits_bg.jpg");
	background-position: center bottom;
	background-repeat: repeat-x;
}
#benefits ul {
	width: 325px;
	float: left;
	margin: 0 20px;
	font-size: 16px;
}
#benefits li {
	padding-left: 30px;
	margin-top: 34px;
	background-image: url("images/tick.png");
	background-position: left center;
	background-repeat: no-repeat;
}

#benefits li span {
	cursor: pointer;
}

#benefits a {
	color: #555;
	text-decoration: none;
	border-bottom: 1px dotted #999;
}

#benefits a:hover {
	/*color: #407505;*/
    color: #6ca824;
	text-decoration: none;
	border: none;
}

#benefits li i {
	display: none;
}

#benefits_image {
	position: relative;
	float: right;
	width: 520px;
	border-left: 1px solid #cccccc;
	height: 316px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

#benefits_image img {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 1;
}

#benefits_image img#benefits-1 {
	display: block;
}

#benefits_description {
	position: absolute;
	left: 0;
	bottom: 0;	
	color: #fff;
	width: 100%;
	min-height: 40px;
	background-image: url("images/dark_background.png");
	background-repeat: repeat;
	z-index: 2;
}

#benefits_description span {
	display: block;
	font-size: 18px;
	padding: 20px 30px 20px 30px;
}

#video { position:relative; }
#video #slider { width:860px; margin:0 auto; position:relative; height:495px; }
	#video #slider ul { list-style-type:none; }
		#video #slider ul li { float:left; width:690px; height:390px; }
#video #prevBtn a, #video #nextBtn a { display:block; margin-top:-13px; width:15px; height:26px; position:absolute; background-image:url(images/slider-nav.png); background-repeat:no-repeat; top:50%; text-indent:999px; overflow:hidden; }
#video #prevBtn a { background-position:left; left:35px; }
#video #nextBtn a { background-position:right; right:35px; }

.ajax-faq-detail { width:600px; height:400px; }
	.ajax-faq-detail .scroll { width:580px; margin:0 auto; height:380px; overflow:auto; }
	.ajax-faq-detail .detail {  }
	
.faq-list { list-style-type:none; margin:0; }
	.faq-list li { margin:0 0 20px; }
	.faq-list li:before {display:none;}
		.faq-list li h3 {  }
			.faq-list li h3 a { border-bottom:1px dotted #DDDDDD; text-decoration:none; }
			.faq-list li h3 a:hover, .content-block .faq-list li.active h3 a { border:0 none; }
		.faq-list li .panel { margin:8px 0 0 0; padding:4px 0 16px 0; display:none; }
		
.pagination { padding:0; }
	.pagination .navigation-arrows { display:none;  }
		.pagination .navigation-arrows .ctrl { background-color:#F0F0C0; display:inline-block; padding:2px 5px; border-radius:3px; }
		.pagination .navigation-arrows .arrow { font-size:14px; }
		.pagination .navigation-arrows .left { float:left; width:auto !important; }
		.pagination .navigation-arrows .right { float:right; width:auto !important; }
		.pagination .navigation-arrows .disabled { display:none; }
		.pagination .navigation-pages { }
		
.call-back-block { width:330px; }
	.call-back-block h2 { margin: 0; }
	.call-back-block .result { margin:8px 0 8px; }
	.call-back-block table { border-collapse:collapse; width:100%; }
	.call-back-block .detail-form-on { margin:0 0 16px; font-size:12px; line-height:16px; }
		.call-back-block .detail-form-on a { text-decoration:none; border-bottom:1px dotted #555; }
			
	.call-back-block table.h-table { display:none; }
		.call-back-block table td { padding:0 0 16px 0; position:relative; }
		.call-back-block table td.f-td { width:95px; }
		.call-back-block table td input[type="text"] { width:220px; }
		.call-back-block table td label.error { font-size:11px; line-height:14px; color:#ff0000; }
		.call-back-block table td input.error { color:#ff0000; }
		.call-back-block table td textarea { width:220px; height:100px; resize:none; }

.extendOn { float:left; margin:4px 0 0 0; font-size:14px; line-height:15px; cursor: pointer; color: #407505; text-decoration: underline;}

#contact_form  .submit { float:right; margin:0 0 0; }

.call-back-block .extendFormOff { display:none; }
#contact_form .extendFormOn {display: none;}
.extendForm { margin:0 0 16px; /*display:none;*/ }
	#contact_form .more textarea {width:300px; height:60px; resize:none; display: block;}
	
.ajax-map {
	width:600px;
	height:300px;
}

	.ajax-map #map { width:600px; height:280px; margin:10px 0 0 0; }

.ajax-map h2 {
	margin: 0;
}

.contact-yandex-map, 
.content-yandex-map .ymaps-map {
	width:475px !important;
	height:300px !important;
}


.contactThumbImage {
	margin-right: 10px;
}

.contactThumbImage.last {
	margin: 0;
}

.feedback-result { margin:0 0 16px; }
#footer { position:relative; }


#footer .str {
	display: none;
	position: fixed;
	right: 5%;
	bottom: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 18px;
	width: 58px;
	height: 40px;
	text-align: center;
	border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-top: 2px solid #FFF;
	border-bottom: 0 solid #FFF;
	background: #333435;
	background: -moz-linear-gradient(top,rgba(51,52,53,1) 0,rgba(60,65,70,1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(51,52,53,1)),color-stop(100%,rgba(60,65,70,1)));
	background: -webkit-linear-gradient(top,rgba(51,52,53,1) 0,rgba(60,65,70,1) 100%);
	background: -o-linear-gradient(top,rgba(51,52,53,1) 0,rgba(60,65,70,1) 100%);
	background: -ms-linear-gradient(top,rgba(51,52,53,1) 0,rgba(60,65,70,1) 100%);
	background: linear-gradient(to bottom,rgba(51,52,53,1) 0,rgba(60,65,70,1) 100%);
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#footer .str a {
		background:url("images/to-top.png") no-repeat center center;
		width:42px;
		height:42px;
		display:inline-block;
	}
	
#video .v-block { width:860px; height:488px; margin:0 auto;}



.slider-block { margin:30px 0 0 0; }
	.slider-block .big-pic { text-align:center; margin:0 0 10px; border:1px solid #ccc; border-radius:3px; padding:10px 0; /*height:440px;*/ }
		.slider-block .big-pic .item { display:none; }
			.slider-block .big-pic .item .over { /*height:440px;*/ overflow:hidden; width:620px; font-size: 16px; margin:0 auto; line-height:440px; position:relative; }
				.slider-block .big-pic .item .over img { vertical-align:middle; border:0 none; margin:0; top:0; }
			.slider-block .big-pic .item .name { position:absolute; left:0; bottom:0; width:590px; line-height:15px !important; text-align:left; padding:15px 15px; color:#fff; background-image:url(images/name-over.png); background-repeat:repeat; z-index: 1;}
		.slider-block .big-pic .pic-0 { display:block; }
	.slider-block .slider {
		width: 631px;
		margin: 0 auto;
		position: relative;
		border: 1px solid #ccc;
		border-radius: 3px;
		height: 120px;
		padding: 5px 7px 5px 0px;
	}
		.slider-block .slider #slider { width:631px; height:120px; }
			.slider-block .slider #slider ul { list-style-type:none; margin:0; padding:0; }
				.slider-block .slider #slider ul li { float:left; width:160px; height:120px; cursor:pointer; text-align:center; }
				.slider-block .slider #slider ul li:before { content:""; }
					.slider-block .slider #slider ul li.active img { opacity:1; }
					.slider-block .slider #slider ul li img  { opacity:0.4; margin: 0; }
		.slider-block .slider #slider-prev, .slider-block .slider #slider-next { position:absolute; top:50%; margin-top:-13px; width:15px; height:26px; overflow:hidden; display:block; text-indent:9999px; overflow:hidden; }
		.slider-block .slider #slider-prev { left:-30px; }
		.slider-block .slider #slider-next { right:-30px; }
		.slider-block .slider #slider-prev a, .slider-block .slider #slider-next a { display:block; background-image:url(images/slider-nav.png); background-repeat:no-repeat; width:15px; height:26px; }
		.slider-block .slider #slider-prev a { background-position:left; }
		.slider-block .slider #slider-next a { background-position:right; }
		

#header .search-form {
	position: absolute;
	width: 235px;
	top: 96px;
	right: 124px;
}

#header .search-form__query {
	height: 25px;
	width: 95%;
}

#header .search-form__submit {
	background: url(/bitrix/templates/siberia.trans.1.0/images/search-icon.png) no-repeat 0px 3px !important;
	position: absolute;
	top: 0;
	left: 206px;
	width: 22px;
}

#content .search-form {
	position: relative;
	margin-bottom: 30px;
}
#content .search-form__submit {
	background: url(/bitrix/templates/siberia.trans.1.0/images/search-icon.png) no-repeat 0px 3px !important;
	position: absolute;
	width: 22px;
	top: 0;
	right: 5px;
}

#content .search-form__query {
	width: 878px;
	height: 26px;
}

/* firefox hack */
@-moz-document url-prefix()
{
	.search-form__query {
		height: 29px !important;
	}
}

.index-occupation p {
	font-size: 20px;
	line-height: 28px;
}

.notes p {
	font-size: 16px;
	line-height: 22px;
}

#tab {
	margin-bottom: 20px;
}

.page-404 {
	margin-bottom: 50px;
}

.page-404 p {
	font-size: 18px;
}

.page-404 .question-icon {
	float: left;
}

/* ajax-delivery-calc */

.ajax-delivery-calc input.error,
.ajax-delivery-calc select.error {
	border: 2px solid red;
	background: #FFDCDC;
}

.ajax-delivery-calc {
	width: 500px;
	
}

.delivery-calc__subtitle {
	color: #4C7A34;
	font-size: 18px;
}

.delivery-calc__subtitle.contacts {
	text-align: center;
	padding: 10px 0;
}

.delivery-calc__cities {
	border: 2px solid #000;
	padding: 2px 5px 1px 5px;
	font-size: 16px;
	width: 184px;
	float: left;
}

.ajax-delivery-calc .delivery-calc__input {
	width: 160px;
	border: 2px solid #000;
	font-size: 16px;
	padding: 7px 10px;
}

.ajax-delivery-calc .delivery-calc__total {
	width: 110px;
	line-height: 26px;
}

.ajax-delivery-calc .delivery-calc__totalPrice {
	float: right;
}

.delivery-calc__weight {
}

.delivery-calc__inputWrp {
	position: relative;
	float: left;
	margin-top: 15px;
}

.delivery-calc__inputWrp.fl-r {
	float: right;
}

.ajax-delivery-calc label.error {
	position: absolute;
	top: 40px;
	right: 0px;
	width: 184px;
	background: #FFBFBF;
	text-align: center;
	color: rgb(246, 61, 61);
	opacity: 0.95;
	padding: 3px 0;
}

.delivery_calc__selectWrp  {
	position: relative;
	margin: 10px 0 24px 0;
}

.delivery_calc__selectWrp label.error {
	top: 27px;
	left: 0;
}

.ajax-delivery-calc .delivery-calc__submit {
	background: rgb(114, 187, 83);
	padding: 11px;
	font-size: 20px;
	height: auto;
	border: 2px solid #000;
}

.ajax-delivery-calc .delivery-calc__submit:hover {
	background: rgb(95, 158, 68);
}

.ajax-delivery-calc .delivery-calc__submit:active {
	background: rgb(91, 150, 65);
}

.ajax-delivery-calc .delivery-calc__notice {
	display: none;
	font-size: 14px;
	color: #4C7A34;
	text-align: center;
	border-bottom: 2px solid #000;
	padding: 0px 0px 15px;
	margin-top: 10px;
}

.delivery-calc__note {
	font-size: 20px;
	color: #000;
	text-align: justify;
	line-height: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ajax-delivery-calc h1 {
	text-align: center;
}

.delivery-calc__description-wrap {
	position: relative;
}

.delivery-calc__description {
	width: 486px;
	padding: 5px;
	border: 2px solid #000;
	height: 100px;
	margin-top: 15px;
}

.delivery-calc__files input {
	margin-bottom: 10px;
	display: block;
	margin-left: 15px;
}

.delivery-calc__moreFiles {
	margin-left: 15px;
	cursor: pointer;
}

.delivery-calc__file i {
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background: url("images/close.png");
	cursor: pointer;
}

.delivery-calc__description.error {
	border: 2px solid red;
	background: #FFDCDC;
}

.delivery-calc__name {
	font-size: 15px;
	font-weight: bold;
	margin-right: 10px;
	margin-top: 3px;
}

.delivery-calc__switcher {
	margin: 14px 0;
}

.delivery-calc__radio {
	font-size: 18px;
	margin-right: 15px;
	cursor: pointer;
}
/* /ajax-delivery-calc */

.clbh_banner-line-wrapper {
	display: none !important;
}

.thankyou-message {
	font-size: 26px;
	margin-top: 45px;
	text-align: center;
	line-height: 32px;
	color: rgb(36, 170, 36);
}

.delivery-calc__hr {
	border-bottom: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 15px;
}

.delivery_calc__curency {
	float: left;
	padding-top: 4px;
}

.delivery-calc__usd,
.delivery-calc__yuan {
	float: left;
	margin-left: 15px;
}

.header-mail {
	position: absolute;
	top: 146px;
	left: 4px;
	font-size: 20px;
	color: #407505;
	text-decoration: none;
	border: none;
	letter-spacing: 0.5px;
}

.header-mail:hover {
	color: #3c3e2f;
	text-decoration: underline;
}

.special-offer a {
	display: block;
	border: 1px solid #ccc;
	line-height: 30px;
	font-size: 18px;
	padding: 3px 7px;
	position: absolute;
	top: 176px;
	width: 100%;
	box-sizing: border-box;
	color: #407505;
	background: #fff;
	text-align: center;
	letter-spacing: 0.5px;
	background-image: url(/bitrix/templates/siberia.trans.1.0/images/benefits_bg.png);
	background: #69a423; /* Old browsers */
	background: -moz-linear-gradient(top, #fff 0%, #eee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff 0%,#eee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff 0%,#eee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fff 0%,#eee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#eee',GradientType=0 ); /* IE6-9 */
	text-decoration: none;
}

.special-offer a:hover {
	background: #fff;
}

.special-offer a:active {
	color: #fff;
	background: #69a423; /* Old browsers */
	background: -moz-linear-gradient(top, #69a423 0%, #427806 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69a423), color-stop(100%,#427806)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #69a423 0%,#427806 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #69a423 0%,#427806 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #69a423 0%,#427806 100%); /* IE10+ */
	background: linear-gradient(to bottom, #69a423 0%,#427806 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69a423', endColorstr='#427806',GradientType=0 ); /* IE6-9 */
}

.special-offer a:active span {
	color: #fff;
}

.special-offer .red {
	color: red;
}