.index-header-block {
	background: url("../images/index-header-bg.png") center 0 no-repeat;
}

.index-lead-text-container {
	width: 1000px;
	margin: 0 auto;
	margin-top: 32px;
}

.index-lead-text {
	margin-top: 265px;
	background: url("../images/index-lead-text.png") no-repeat;
	letter-spacing: 0.4px;
	line-height: 19px;
	text-align: justify;
	height: 176px;
	overflow: hidden;
}

.index-lead-text p:first-child {
	margin-bottom: 18px;
}

.index-profit-block {
	background: url("../images/index-profit-bg.png") center 0 no-repeat;
	padding-top: 31px;
	overflow: hidden;
	height: 578px;
}

.index-profit-block-container {
	border: 3px solid #fff;
	border-radius: 51px;
	margin: 0 auto;
	width: 1102px;
	padding: 18px 24px 23px 23px;
	box-sizing: border-box;
}

.index-block-header {
	text-align: center;
	font-size: 29px;
	font-weight: lighter;
	color: #fff;
	margin-bottom: 19px;
}

.index-profit-items {
	padding: 43px 0 0 28px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	overflow: hidden;
}

.index-profit-item {
	float: left;
	margin-bottom: 65px;
	width: 243px;
	height: 74px;
	background: url("../images/index-profit-icons.png") no-repeat;
	padding-left: 86px;
	margin-right: 4px;
}

.index-profit-item.ship {
	background-position: 0 -592px;
}

.index-profit-item.cost {
	background-position: 0 -445px;
}

.index-profit-item.drop {
	background-position: 0 -222px;
}

.index-profit-item.guarant {
	background-position: 0 -518px;
}

.index-profit-item.pack {
	background-position: 0 -296px;
}

.index-profit-item.infr {
	  background-position: 0 -148px;
}

.index-profit-item.logist {
	background-position: 0 -74px;
}

.index-profit-item.skill {
	background-position: 0 -370px;
}
	

.index-profit-item.infr,
.index-profit-item.skill,
.index-profit-item.fin {
	margin-bottom: 39px;
}



.index-profit-item-title {
	font-weight: bold;
}

.index-route-block {
  background: url("../images/index-route-bg.png") no-repeat center 0;
  padding-top: 39px;
  padding-bottom: 49px;
}

.index-route-block-container {
	width: 993px;
	position: relative;
	border: 5px solid #4d4d4d;
	margin: 0 auto;
	border-radius: 31px;
	
}

.index-route-block-map {
	background: url("../images/index-routes-bg.png") no-repeat;
	padding-top: 6px;
	height: 642px;
	border-bottom: 4px solid #666;
}

.index-route-controls {
	overflow: hidden;
	margin-top: 508px;
	margin-left: 18px;
}



.index-route-auto-but {
	background-position: 0 -6px;
}

.index-route-auto-but:hover {
	background-position: 0 -104px;
}
/*
.index-route-auto-but:active {
	background-position: 1px -195px;
}
*/
.index-route-zd-but {
	background-position: 0 -560px;
}

.index-route-zd-but:hover {
	background-position: 0 -651px;
}
/*
.index-route-zd-but:active {
	background-position: -0px -737px;
}*/

.index-route-sea-but {
	background-position: 0 -288px;
}

.index-route-sea-but:hover {
	background-position: 0 -384px;
}
/*
.index-route-sea-but:active {
	background-position: 0 -471px;
}*/

.index-route-controls div {
	background-image: url("../images/index-route-buttons.png");
	background-repeat: no-repeat;
	height: 87px;
	width: 94px;
	float: left;
	cursor: pointer;
	margin-right: 2px;
}

.index-route-desc {
	padding-top: 24px;
	width: 293px;
	background: url("../images/index-route-desc-bg.png") no-repeat;
	padding-left: 19px;
	padding-right: 16px;
}

.index-route-desc:hover {
	background: #f8f8f9;
	cursor: pointer;
}

.index-route-descs {
	overflow: hidden;
	border-radius: 0px 0px 25px 25px;
	background: url("../images/index-route-border.png") repeat-x;
}

.index-route-desc + .index-route-desc {
	float: right;
}

.index-route-desc:last-child {
	float: none;
	margin: 0 auto;
}

.index-route-desc:first-child {
	float: left;
}

.index-route-desc-title {
	font-size: 16px;
	margin-bottom: 30px;
	text-align: center;
}

.index-route-desc-lead {
	text-align: justify;
	line-height: 23px;
	height: 214px;
}

.index-route-button {
	background: url("../images/index-route-button-bg.png") no-repeat;
	width: 327px;
	height: 35px;
	color: #fff;
	margin-left: -18px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	display: block;
	text-align: center;
	padding-top: 12px;
}

.index-route-button:hover {
	background-position: 0 -47px;
}

.index-route-button:active {
	background-position: 0 -94px;
}


/* services block */
.index-services-block {
	border-top: 4px solid #268205;
	
	background: #4f8bc0; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #4f8bc0 0%, #002766 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4f8bc0), color-stop(100%,#002766)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #4f8bc0 0%,#002766 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #4f8bc0 0%,#002766 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #4f8bc0 0%,#002766 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #4f8bc0 0%,#002766 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f8bc0', endColorstr='#002766',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.index-services-block-container {
	background: url("../images/index-our-services-bg.png") no-repeat;
	height: 1298px;
	margin: 0 auto;
	width: 944px;
	margin-top: 80px;
	padding: 28px 24px 106px 24px;
}

.index-block-header-b {
	text-align: center;
	font-size: 29px;
}

.index-services-title {
	font-size: 23.2px;
	margin-bottom: 9px;
}

.index-services-descr {
	text-align: justify;
	line-height: 19px;
	margin-bottom: 14px;
}

.index-services-more {
	background: url("../images/index-services-link-bg.png") no-repeat;
	height: 26px;
	width: 149px;
	color: #fff;
	padding: 3px 34px 5px 34px;
}

.index-services-more:hover {
	background-position: 0 -26px;
}

.index-services-more:active {
	background-position: 0 -52px;
}

.index-service.right {
	text-align: right;
	float: right;
}

.index-service.left {
	text-align: left;
	float: left;
}

.index-service {
	width: 532px;
	margin-bottom: 31px;
}

.index-services-custom {
	width: 534px;
	margin-bottom: 57px;
}

.index-services-legal {
	width: 550px;
}

.index-services-deliver {
	width: 532px;
	margin-top: 29px;
	margin-bottom: 25px;
}

/* /services block */

/* work scheme block */

.index-work-scheme-block {
	padding: 34px 0 0 0;
	height: 920px;
	background: url("../images/index-work-scheme-bg.png") no-repeat;
}

.index-work-scheme-item {
	padding: 0 10px;
	text-transform: uppercase;
}

.index-work-scheme-inner {
	width: 980px;
	margin: 0 auto;
}


.index-work-scheme {
	overflow: hidden;
	margin-bottom: 106px;
}

.index-work-scheme-icon {
	background-image: url("../images/index-work-scheme-icons.png");
	height: 92px;
	width: 93px;
	margin-bottom: 19px;
}

.index-work-scheme-icon.lead {
	height: 92px;
	width: 90px;
	margin-left: 21px;
	margin-bottom: 19px;
}

.index-work-scheme-icon.info {
	height: 92px;
	width: 93px;
	margin-left: 18px;
	background-position: -92px 0;
}

.index-work-scheme-icon.contract {
	width: 74px;
	height: 94px;
	margin-left: 19px;
	margin-bottom: 17px;
	background-position: -187px 0px;
}

.index-work-scheme-icon.prepay {
	background-position: -263px 0px;
	width: 114px;
}

.index-work-scheme-icon.deliver {
	margin-left: 19px;
	background-position: -378px 0;
	width: 86px;
	height: 94px;
	margin-bottom: 18px;
}

.index-work-scheme-icon.postpay {
	background-position: -466px 0;
	width: 109px;
}

.index-work-scheme li {
	float: left;
	width: 130px;
	text-align: center;
	position: relative;
	margin-right: 40px;
	margin-top: 30px;
}

.index-work-scheme li i {
	background-image: url("../images/index-work-scheme-icons.png");
	width: 30px;
	height: 25px;
	display: block;
	top: 37px;
	position: absolute;
	right: -33px;
	background-position: -579px 0;
}

/* /work scheme block */

.index-work-scheme-video {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAC4jAAAuIwF4pT92AAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAE0lEQVR42mJgYGBYDQAAAP//AwAAsACsZoLzXAAAAABJRU5ErkJggg==');
	padding: 30px 6px 32px 6px;
	margin: -6px;
	border-radius: 15px;
}

.index-work-scheme-video div {
	margin: 0 auto;
}