body {
	font-size: 14px;
}

h1,h2,h3,h4,h5 {
	font-family: tahoma;
}

input[type="button"],
input[type="submit"] {
	font-size: 14px;
}
input[type="text"] {
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
}
textarea {
	font-size: 14px;
	padding: 13px;
}

#phone_block a{
	font-size: 14px;
}
  
#header .navigation {
	font-size: 16px;
}

#sidebar .navigation {
	font-size: 14px;
}
#sidebar h2 {
	font-size: 18px;
}

#footer .phone_number {
	font-size: 20px;
}
#services .desc { 
	font-size: 12px;
}
#services_description {
	padding: 15px 20px 0;
	font-size: 14px;
}

#benefits_description span {
	font-size: 16px;
}
#benefits ul {
	font-size: 16px;
}
#contact_form { 
	font-size: 12px;
}
#contacts_block .name {
	font-size: 18px;
}
#contacts_block li {
	font-size: 14px;
}

.contacts .location li {
	font-size: 14px;
}
.contacts #contacts_intro {
	font-size: 16px;
}

#regions .title {
	font-size: 16px;
}
#regions a { 
	font-size: 12px;
}
.manager .name {
	font-size: 14px;
}
.manager li {
	font-size: 12px;
}