.header-search-block {
    width: 368px;
    right: 0px;
    position: absolute;
    top: 114px;
	
}

.yandex-search {
    position: relative;
    margin-bottom: 30px;
	
}

#ya-site-form0, #ya-site-form0 .ya-site-form__input, #ya-site-form0 .ya-site-form__input-text, #ya-site-form0 .ya-site-form__submit, #ya-site-form0 .ya-site-form__search-precise,
#ya-site-form1, #ya-site-form1 .ya-site-form__input, #ya-site-form1 .ya-site-form__input-text, #ya-site-form1 .ya-site-form__submit, #ya-site-form1 .ya-site-form__search-precise {
    padding: 4px 10px 3px 7px;
}

#ya-site-form0 .ya-site-form__submit_type_image,
#ya-site-form1 .ya-site-form__submit_type_image {
    background-image: url('/bitrix/templates/siberia.trans.1.0/images/search-icon.png') !important;
    width: 22px !important;
    height: 24px !important;
    position: absolute;
    top: 3px;
    right: 10px;
    margin: 0 !important;
}

#ya-site-form0 .ya-site-form__search-input,
#ya-site-form1 .ya-site-form__search-input {
    padding: 0 !important;
}

.b-head__l, .b-head__r {
    display: none;
}

.b-head.b-head_type_search-simple {
    display: none;
}


#ya-site-results {
    margin-bottom: 50px;
}

#ya-site-results a:link, #ya-site-results a:active, #ya-site-results .b-pseudo-link, #ya-site-results .b-head-tabs__link, #ya-site-results .b-head-tabs__link:link, #ya-site-results .b-head-tabs__link:visited, #ya-site-results .b-dropdown__list .b-pseudo-link, #ya-site-results .b-dropdowna__switcher .b-pseudo-link, .b-popupa .b-popupa__content .b-menu__item, #ya-site-results .b-foot__link:link, #ya-site-results .b-copyright__link:link, #ya-site-results .b-serp-item__mime, #ya-site-results .b-pager :link {
    color: #407505 !important;
}

#ya-site-results :visited, #ya-site-results .b-pager :visited, #ya-site-results .b-foot__link:visited, #ya-site-results .b-copyright__link:visited {
    color: #407505 !important;
}

body .g-gap-horizontal {
    margin: 0 !important;
    font-size: 17px;
}

.b-top-wizard {
    margin-bottom: 30px;
}

.b-serp-item__links-item {
    display: none;
}

.b-body-items {
    padding-left: 40px !important;
}

.b-serp-item {
    margin: 0 0 2em 0;
}

#ya-site-results .b-serp-item__title-link:link, #ya-site-results .b-serp-item__title-link {
    font-size: 21px !important;
    line-height: 17px !important;
}

#ya-site-results .b-serp-item__text {
    margin-top: 7px;
    font-size: 14px;
    line-height: 21px;
}

.b-serp-item__content {
    font-family:'Arial Narrow', Arial, sans-serif;
}

.b-serp-item__number {
    background: #407505;
    padding: 1px 5px 2px 6px;
    color: #fff !important;
    margin-top: 0 !important;
    font-weight: bold !important;
}

#ya-site-results .b-serp-item__content .b-serp-item__number {
    color: #fff !important;
}

#ya-site-results .b-serp-item__number {
    font-size: 15px;
}